#icon{
	width: 200px;
	height: 0px;
	/*height: 80px;*/
	background: rgba(0,0,0,0.2);
    text-align: left;
    overflow:auto;
    transition:0.3s;
}
#icon i{
	font-size: 20px;
	line-height: 25px;
	margin:3px;
	cursor: pointer;
}
.btn_otm{
	cursor: pointer;
}
.ex-icon{
	position: absolute;
	top: -20px;
	right: -20px;
	width: 20px;
	display: none;
	cursor: pointer;
}
.cont-ex{
	position: relative;
	width: 200px;
}
